:root {
    --width: 300px;
    --height-points: 40px;
    --height-wrapper: calc((var(--width)/9)*16+var(--height-points));
}

.sldr__wrapper * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sldr__wrapper {
    width: 100%;
    height: var(--height-wrapper);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sldr__body {
    width: 500px;
}

.sldr__container {
    position: relative;
    display: flex;
    justify-content: center;
}

.sldr__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sldr__control button {
    position: relative;
    width: 40px;
    height: 40px;
    background: #e8e8e8;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.arrow div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
}

.prev div {
    transform: translate(-50%, -50%) rotate(180deg);
}

.next div {
    transform: translate(-50%, -50%);
}

.sldr__list {
    position: relative;
    width: var(--width);
    z-index: 5;
}

/*.sldr__list-item {
    width: 100%;
    display: flex;
    justify-content: center;
}*/

.sldr__image {
    width: var(--width);
    /*width: 100%;*/
    height: calc((var(--width) / 9) * 16);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin: 0 auto;
}

.sldr__points {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

.slick-dots {
    display: flex;
    list-style: none;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    position: relative;
    width: 8px;
    height: 8px;
    border: none;
    outline: none;
    color: transparent;
    background: transparent;
}

.slick-dots button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    background: #c7c7c7;
    border-radius: 50%;
    cursor: pointer;
}

.slick-active button::after {
    background: #222222;
}

.slick-dots li:hover button::after {
    background: #222222;
}
